pandas 
mlflow
notebook
ipykernel
numpy
scikit-learn
matplotlib
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
Flask
Flask-Cors
ydata-profiling
ipywidgets
visions
numba

##-e .
astro-run-dag # This package is needed for the astro run command. It will be removed before a deploy